@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Colors */
/*Breakpoints*/
.header {
  background: #004E7C;
  color: #dce1e3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}
.header__content {
  max-width: 1200px;
  margin: auto;
  padding: 10px 20px;
  align-content: center;
  justify-content: space-between;
  display: flex;
}
.header__info {
  display: flex;
}
.header__img {
  width: 180px;
  border-radius: 50%;
}
.header__button {
  align-self: center;
  background: #dce1e3;
}
.header__button i {
  margin-right: 2rem;
}
.header__button--small {
  display: none;
  position: fixed;
  background: red;
  right: 30px;
  top: 10px;
}
.header__button--small:after {
  content: "";
}
.header__button:hover {
  background: #FFDC00;
}
.header__inside {
  align-self: center;
  margin-left: 20px;
}
.header ul {
  margin-top: 10px;
  list-style: none;
  display: flex;
}
.header ul li, .header ul a {
  font-size: 2rem;
  margin: 5px 10px;
}
.header ul li:hover, .header ul a:hover {
  color: #FFDC00;
}
.header ul li:visited, .header ul a:visited {
  color: inherit;
}
@media screen and (max-width: 768px) {
  .header__content {
    justify-content: center;
  }
  .header__info {
    flex-direction: column;
    align-items: center;
  }
  .header__button {
    display: none;
  }
  .header__button--small {
    display: inline-block;
  }
  .header__button--small:hover:after {
    Content: " Contact Me";
  }
}

aside {
  font-size: 1.2rem;
}
aside .findMe li {
  margin-top: 10px;
}
aside .findMe li i {
  margin-right: 10px;
}
aside .technologies {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-gap: 5px;
}
aside .technologies li {
  display: inline-block;
  background-color: #004E7C;
  color: #dce1e3;
  padding: 1rem;
  border-radius: 10px;
  align-content: center;
  text-align: center;
}
aside .technologies li:hover {
  background-color: #FFDC00;
  color: black;
}
@media screen and (max-width: 1024px) {
  aside .technologies {
    grid-template-columns: repeat(2, 49%);
  }
}
aside .education {
  margin-top: 1rem;
}
aside .education li {
  margin-top: 1rem;
}
aside .hobbies, aside .languages {
  margin-top: 1rem;
}
aside .hobbies li, aside .languages li {
  margin-top: 5px;
}

/*Colors */
/*Breakpoints*/
button {
  border: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
  outline: none;
}

.btn-main {
  background: linear-gradient(90deg, red, red, white, red) 0 0;
  background-size: 180%;
  color: black;
  animation: slideOut 0.2s ease-in-out forwards;
}

.btn-secondary {
  background: linear-gradient(90deg, #FFDC00, #FFDC00, white, #FFDC00) 0 0;
  background-size: 180%;
  color: black;
  animation: slideOut 0.1s ease-in-out forwards;
}

.btn-secondary:hover, .btn-main:hover {
  background-position: 140% 0;
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 150% 0;
  }
}
@keyframes slideOut {
  0% {
    background-position: 150% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/*Colors */
/*Breakpoints*/
.footer {
  background: #004E7C;
  color: #FFDC00;
  padding: 1rem;
  text-align: center;
}

/*Colors */
/*Breakpoints*/
body {
  background: #dce1e3;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

h1, h2, h3 {
  margin-top: 1rem;
}

.row {
  display: flex;
}

/*Colors */
/*Breakpoints*/
.gridContainer {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px 20px;
  color: black;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 2rem;
}
@media screen and (max-width: 480px) {
  .gridContainer {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .gridContainer {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gridContainer {
    grid-gap: 0.5rem;
  }
}

.gridBox {
  background: #f4f6f6;
  border-radius: 10px;
  border: 2px solid #dce1e3;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*Colors */
/*Breakpoints*/
main {
  text-align: justify;
}
main .aboutMe {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .aboutMe button {
  margin-top: 1rem;
  align-content: center;
}
main .recent_project {
  margin-top: 1rem;
  text-align: justify;
}
main .recent_project__image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
main .recent_project h3 {
  text-align: center;
}
main .recent_project__buttons {
  display: flex;
  justify-content: center;
}
main .recent_project__buttons button {
  margin: 1rem;
}
main .recent_project__techs {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
main .recent_project__techs li {
  margin: 5px 10px;
  padding: 5px;
  background: #FFDC00;
}
main .projects {
  margin-top: 1rem;
}
main .projects__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
  border-bottom: 1px solid #004E7C;
}
@media screen and (max-width: 480px) {
  main .projects__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .projects__container {
    grid-template-columns: 1fr;
  }
}
main .projects__container:nth-last-child(1) {
  border-bottom: none;
}
main .projects__container__img {
  width: 100%;
  height: auto;
}
main .projects__container .techs {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  text-align: center;
}
main .projects__container .techs li {
  margin: 5px 10px;
  background: #FFDC00;
}
main .projects__container__content h4 {
  margin-bottom: 1rem;
}
main .projects__container__content button {
  margin: 1rem auto;
}

/*Colors */
/*Breakpoints*/
.contact {
  max-width: 1024px;
  margin: 0 auto 2rem auto;
  padding: 2rem 2rem;
  background: #004E7C;
  color: #dce1e3;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.contact h2 {
  min-width: 100%;
  font-size: 2rem;
  border-bottom: 2px solid #dce1e3;
  grid-area: topic;
}
.contact .form {
  margin-top: 20px;
  display: grid;
  grid-template-areas: "name email" "message message" "submit submit";
  grid-gap: 1.2rem;
  justify-content: normal;
}
@media screen and (max-width: 768px) {
  .contact .form {
    grid-template-areas: "name name" "email email" "message message" "submit submit";
  }
}
.contact .form__name {
  grid-area: name;
}
.contact .form__name input {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
}
.contact .form__email {
  grid-area: email;
}
.contact .form__email input {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
}
.contact .form__textarea {
  grid-area: message;
}
.contact .form__textarea textarea {
  width: 100%;
  resize: vertical;
  border-radius: 10px;
  padding: 1rem;
}
.contact .form__submit {
  grid-area: submit;
}
.contact .form__submit:hover {
  background-color: #dce1e3;
}

/*# sourceMappingURL=style.css.map */
