/*Colors */
/*Breakpoints*/
.header {
  background: #004E7C;
  color: #dce1e3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}
.header__content {
  max-width: 1200px;
  margin: auto;
  padding: 10px 20px;
  align-content: center;
  justify-content: space-between;
  display: flex;
}
.header__info {
  display: flex;
}
.header__img {
  width: 180px;
  border-radius: 50%;
}
.header__button {
  align-self: center;
}
.header__button i {
  margin-right: 2rem;
}
.header__button--small {
  display: none;
  position: fixed;
  background: red;
  right: 30px;
  top: 10px;
}
.header__button--small:after {
  content: "";
}
.header__button:hover {
  background: red;
}
.header__inside {
  align-self: center;
  margin-left: 20px;
}
.header ul {
  margin-top: 10px;
  list-style: none;
  display: flex;
}
.header ul li {
  font-size: 2rem;
  margin: 5px 10px;
}
.header ul li:hover {
  color: red;
}
@media screen and (max-width: 768px) {
  .header__content {
    justify-content: center;
  }
  .header__info {
    flex-direction: column;
    align-items: center;
  }
  .header__button {
    display: none;
  }
  .header__button--small {
    display: inline-block;
  }
  .header__button--small:hover:after {
    Content: " Contact Me";
  }
}

aside .gridBox {
  height: 400px;
}

/*Colors */
/*Breakpoints*/
button {
  border: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
}

.btn-main {
  background: linear-gradient(90deg, #1ed2f4, darkgray, #1ed2f4) 0 0;
  background-size: 180%;
  color: black;
  animation: slideOut 0.2s ease-in-out forwards;
}

.btn-secondary {
  background: linear-gradient(90deg, #B73225, #B73225, white, #B73225) 0 0;
  background-size: 180%;
  color: black;
  border: 1px solid #B73225;
  animation: slideOut 0.1s ease-in-out forwards;
}

.btn-secondary:hover, .btn-main:hover {
  background-position: 140% 0;
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 150% 0;
  }
}
@keyframes slideOut {
  0% {
    background-position: 150% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/*Colors */
/*Breakpoints*/
.footer {
  background: #004E7C;
  color: yellow;
  padding: 1rem;
  text-align: center;
}

/*Colors */
/*Breakpoints*/
body {
  background: #dce1e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin-top: 1rem;
}

.row {
  display: flex;
}

/*Colors */
/*Breakpoints*/
.gridContainer {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px 20px;
  color: black;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 2rem;
}
@media screen and (max-width: 480px) {
  .gridContainer {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .gridContainer {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gridContainer {
    grid-gap: 0.5rem;
  }
}

.gridBox {
  background: #f4f6f6;
  border-radius: 10px;
  border: 2px solid #dce1e3;
  padding: 10px;
  margin-top: 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*Colors */
/*Breakpoints*/
main .gridBox {
  height: 800px;
}

/*# sourceMappingURL=style.css.map */
