@import "variables";

body {
  background: $backgroundMain;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
 text-decoration: none;
  &:visited {
    color: inherit;
  }
}


h1, h2, h3 {
  margin-top: 1rem;
}


.row {
  display: flex;
}


