@import 'variables';

.container {
  max-width: $maxWidth;
  margin: 20px auto;
  padding: 10px 20px;
  color: black;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 2rem;

  .box {
    background: $boxColor;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1.5rem;
  }
}
