@import 'variables.scss';

.header {

   background: $backgroundSecondary;
   color: #dce1e3;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   position: relative;

    &__content {
        max-width: $largeScreen;
        margin: auto;
        padding: 10px 20px;
        align-content: center;
        justify-content: space-between;
        display: flex;
    }

    &__info {
        display: flex
    }

    &__img {
        width: 180px;
        border-radius: 50%;
    }

    &__button {
         align-self: center;
         background: $backgroundMain;
         i{margin-right: 2rem}

        &--small {
            display: none;
            position: fixed;
            background: red;
            right: 30px;
            top: 10px;

            &:after {
            content: ""
            }
        }
    }

    &__button:hover {
    background: $buttonSecondary;


    }

    &__inside {

        align-self: center;
        margin-left: 20px;
    }

     ul {
        margin-top: 10px ;
        list-style: none;
         display: flex;

            li, a {
             font-size: 2rem;
             margin: 5px 10px;


                 &:hover {
                 color: $buttonSecondary;
                 }



                 &:visited, &:link {
                 color: inherit;
                 }


             }
     }

       @media screen  and (max-width: $tabletScreen) {

                  &__content {
                  justify-content: center;
                  }

                  &__info {
                  flex-direction: column;
                  align-items: center;
                  }


                   &__button {
                       display: none;

                       &:hover {
                       }

                       &--small {
                          display: inline-block;

                            &:hover {
                                &:after {
                                 Content: " Contact Me"
                                }
                            }
                       }
                   }
          }
}















